header {
    text-align:         center;
}

header h1 {
    font-size:          50px;
    letter-spacing:     2px;
}

header nav ul {
    list-style-type:    none;
    margin:             0;
    padding:            0;
}

header nav ul li {
    display:            inline-block;
    text-align:         center;
    margin-left:        20px;
    margin-right:       20px;
}

a {
    color:              #b62;
}

.main-section {
    background-color:   #ddd;
    border-radius:      20px;
    border:             3px solid #d95;
    margin-left:        auto;
    margin-right:       auto;
    margin-top:         40px;
    padding:            10px;
    width:              75%;
    font-size:          18px;
}

.main-section__header {
    color:              #b62;
    display:            block;
    font-size:          32px;
    letter-spacing:     1px;
    margin:             0 10px 0 0;
    padding-left:       40px;
}

.sub-section {
    background-color:   #ccc;
    border-radius:      15px;
    border:             2px solid #777;
    margin-top:         10px;
    padding:            10px;
}

.sub-section__header {
    display:            block;
    font-size:          26px;
    margin-bottom:      10px;
    margin:             0;
    padding-left:       20px;
    text-decoration:    underline;
}

table {
    width:              100%;
    display:            block;
    overflow-x:         scroll;
    white-space:        nowrap;
}

tbody {
    display:            table;
    table-layout:       fixed;
    min-width:          100%;
}

.sub-section table tr:first-child {
    background-color:   #d95;
}

.sub-section table tr {
    background-color:   #aaa;
}

.sub-section table tr:nth-child(even) {
    background-color:   #909090;
}

.sub-section table th {
    font-family:        monospace;
    font-size:          16px;
    font-weight:        500;
    padding:            0 5px;
    text-align:         left;
}

.sub-section table td {
    font-family:        monospace;
    font-size:          14px;
    padding-left:       5px;
}

.sub-sub-section {
    background-color:   #bbb;
    border-radius:      10px;
    margin-top:         10px;
    padding:            10px;
}

.sub-sub-section__header {
    display:            block;
    font-size:          22px;
    font-weight:        450;
    margin-bottom:      5px;
    margin:             0;
    padding-left:       10px;
}

.sub-sub-section table tr {
    background-color:   #999;
}

.sub-sub-section table tr:nth-child(even) {
    background-color:   #808080;
}

.sub-sub-section table th {
    font-size:          14px;
}

.sub-sub-section table td {
    font-size:          12px;
}

.sub-section__tr--red {
    background-color:   #f77 !important;
}

.sub-section__tr--green {
    background-color:   #7f7 !important;
}

.main-form-wrapper {
    background-color:   #ddd;
    border-radius:      20px;
    border:             3px solid #d95;
    margin-left:        auto;
    margin-right:       auto;
    margin-top:         40px;
    padding:            30px 50px;
    width:              35%;
}

.main-form-wrapper p {
    font-size:          18px;
    margin:             0;
    margin-top:         20px;
}

.main-form-wrapper__feedback {
    color:              #d00;
    font-weight:        500;
}

.main-form-wrapper form {
    display:            block;
    margin-left:        auto;
    margin-right:       auto;
}

.main-form-wrapper form input {
    box-sizing:         border-box;
    width:              100%;
    padding:            5px;
    font-size:          16px;
    margin-bottom:      10px;
}

.main-form-wrapper form input[type=checkbox] {
    margin:             0;
    margin-right:       10px;
    display:            inline-block;
    width:              1.5em;
    height:             1.5em;
    vertical-align:     sub;
}

.main-form-wrapper form input[type=submit] {
    margin-top:         30px;
}

.sub-form {
    margin:             10px 0;
    width:              50%;
    padding:            5px;
    border:             2px dotted #777;
    border-radius:      10px;
    font-size:          16px;
}

.sub-form ul {
    list-style-type:    none;
    margin:             0;
    margin-left:        5px;
    padding:            0;
}

.sub-form input {
    box-sizing:         border-box;
    width:              100%;
    margin-bottom:      10px;
}

.sub-form input[type=checkbox] {
    width:              1em;
    margin:             0;
    margin-right:       5px;
    display:            inline-block;
}

.sub-form input[type=submit] {
    margin:             0;
}

.sub-form__label--monospace {
    font-family:        monospace;
    font-size:          14px;
}

.mini-form {
    display:            inline-block;
}

@media (max-width: 1000px) {
    .main-section {
        width:          90%;
        margin-top:     20px;
    }

    .main-form-wrapper {
        width:          60%;
    }

    .sub-form {
        width:          70%;
    }
}
