{% extends "base.html" %}

{% block title %}
Admin panel | Balance
{% endblock title %}

{% block content %}
<header>
    <h1> Admin panel </h1>
    <nav class="main-section">
        <ul>
            <li> <a href="/dashboard"> Dashboard </a> </li>
            <li> <a href="/logout"> Logout </a> </li>
        </ul>
    </nav>
</header>
<main>
    <div class="main-section">
        <h2 class="main-section__header"> Invites </h2>
        <div class="sub-section">
            <h3 class="sub-section__header"> Create new invite </h3>
            <form name="add_invite" class="sub-form">
                <label for="invite_id">Invite ID</label>
                <input type="text" name="invite_id" required>
                <input type="submit" value="Create new invite">
            </form>
        </div>
        <div class="sub-section">
            <h3 class="sub-section__header"> Current invites </h3>
            <table>
                <tbody>
                <tr>
                    <th> Invite ID </th>
                    <th> Actions </th>
                </tr>
                {% for invite in invites %}
                <tr>
                    <td> {{ invite.invite_id }} </td>
                    <td>
                        <form name="delete_invite">
                            <input type="hidden" name="invite_id" value="{{ invite.invite_id }}" readonly>
                            <input type="submit" value="Delete invite">
                        </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2">
                        No invites.
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="main-section">
        <h2 class="main-section__header"> Users </h2>
        <div class="sub-section">
            <h3 class="sub-section__header"> Current users </h3>
            <table>
                <tbody>
                <tr>
                    <th> ID </th>
                    <th> Username </th>
                    <th> Admin? </th>
                    <th> Actions </th>
                </tr>
                {% for user in users %}
                <tr>
                    <td> {{ user.user_id }} </td>
                    <td> {{ user.username }} </td>
                    <td> {{ user.admin }} </td>
                    <td>
                        {% if user.user_id != 1 %}
                        <form name="delete_user" class="mini-form">
                            <input type="hidden" name="user_id" value="{{ user.user_id }}" readonly>
                            <input type="submit" value="Delete user">
                        </form>
                        <form name="toggle_admin" class="mini-form">
                            <input type="hidden" name="user_id" value="{{ user.user_id }}" readonly>
                            <input type="submit" value="Toggle admin">
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">
                        No users.
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="main-section">
        <h2 class="main-section__header"> Trips </h2>
        <div class="sub-section">
            <h3 class="sub-section__header"> Create new trip </h3>
            <form name="add_trip" class="sub-form">
                <label for="title">Trip title</label>
                <input type="text" name="title" required>
                <input type="submit" value="Create new trip">
            </form>
        </div>
        {% for trip_info in trips_info %}
        {% set trip = trip_info[0] %}
        {% set users = trip_info[1] %}
        {% set transactions = trip_info[2] %}
        <div class="sub-section">
            <h3 class="sub-section__header"> {{ trip.title }} </h3>
            <div class="sub-sub-section">
                <h4 class="sub-sub-section__header"> Trip actions </h4>
                <form name="add_relation" class="sub-form">
                    <label for="user_id">User ID</label>
                    <input type="number" name="user_id" min=0 step=1>
                    <input type="hidden" name="trip_id" value="{{ trip.trip_id }}" readonly>
                    <input type="submit" value="Add user to this trip">
                </form>
                <form name="delete_trip" class="sub-form">
                    <input type="hidden" name="trip_id" value="{{ trip.trip_id }}" readonly>
                    <input type="submit" value="Delete trip">
                </form>
            </div>
            <div class="sub-sub-section">
                <h4 class="sub-sub-section__header"> Trip users </h4>
                <table>
                    <tbody>
                    <tr>
                        <th> Username </th>
                        <th> Actions </th>
                    </tr>
                    {% for user in users %}
                    <tr>
                        <td> {{ user.username }} </td>
                        <td>
                            <form name="delete_relation">
                                <input type="hidden" name="user_id" value="{{ user.user_id }}" readonly>
                                <input type="hidden" name="trip_id" value="{{ trip.trip_id }}" readonly>
                                <input type="submit" value="Delete user from this trip">
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="2">
                            No users on this trip.
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="sub-sub-section">
                <h4 class="sub-sub-section__header"> Trip transactions </h4>
                <table>
                    <tbody>
                    <tr>
                        <th> ID </th>
                        <th> Sender </th>
                        <th> Recipient </th>
                        <th> Title </th>
                        <th> Amount </th>
                        <th> Date </th>
                        <th> Pending? </th>
                        <th> Accepted? </th>
                        <th> Actions </th>
                    </tr>
                    {% for transaction in transactions %}
                    <tr>
                        <td> {{ transaction.transaction_id }} </td>
                        <td> {{ users | filter(attribute="user_id", value=transaction.sender_id) | map(attribute="username") | first }} </td>
                        <td> {{ users | filter(attribute="user_id", value=transaction.recipient_id) | map(attribute="username") | first }} </td>

                        <td> {{ transaction.title }} </td>
                        <td> {{ transaction.amount }} </td>
                        <td> {{ transaction.created_at | date(format="%c") }} </td>
                        <td> {{ transaction.pending }} </td>
                        <td> {{ transaction.accepted }} </td>
                        <td>
                            <form name="delete_transaction">
                                <input type="hidden" name="transaction_id" value="{{ transaction.transaction_id }}" readonly>
                                <input type="submit" value="Delete transaction">
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="9">
                            No transactions on this trip.
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <p>
            No trips.
        </p>
        {% endfor %}
        </div>
    </div>
</main>
<script type="text/javascript" src="static/js/main.js"> </script>
{% endblock content %}
