<!DOCTYPE html>

<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/main.css">
        <title> {% block title %} {% endblock title %} </title>
        {% endblock head %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
