{% extends "base.html" %}

{% block title %}
Dashboard | Balance
{% endblock title %}

{% block content %}
<header>
    <h1> Dashboard </h1>
    <nav class="main-section">
        <ul>
            {% if my_user.admin %}
            <li> <a href="/admin"> Admin panel </a> </li>
            {% endif %}
            <li> <a href="/logout"> Logout </a> </li>
        </ul>
    </nav>
</header>
<main>
    <div class="main-section">
        <h2 class="main-section__header"> Trips </h2>
        {% for my_trip_info in my_trips_info %}
        {% set trip = my_trip_info[0] %}
        {% set users = my_trip_info[1] %}
        {% set balances = my_trip_info[2] %}
        {% set pending_transactions = my_trip_info[3] %}
        {% set processed_transactions = my_trip_info[4] %}
        <div class="sub-section">
            <h3 class="sub-section__header"> {{ trip.title }} </h3>
            <div class="sub-sub-section">
                <h4 class="sub-sub-section__header"> Summary </h4>
                <table>
                    <tbody>
                    <tr>
                        <th> User </th>
                        <th> My balance </th>
                    </tr>
                    {% for user in users %}
                    <tr>
                        <td> {{ user.username }} </td>
                        <td> {{ balances | filter(attribute="user_id", value=user.user_id) | map(attribute="sum") | first }} </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="2">
                            No users.
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="sub-sub-section">
                <h3 class="sub-sub-section__header"> Ask for refund (create transaction) </h3>
                <form name="add_transactions" class="sub-form">
                    <input type="hidden" name="trip_id" value="{{ trip.trip_id }}" readonly>
                    <label for="senders">Users</label>
                    <ul name="senders">
                        {% for user in users %}
                        <li>
                            <input type="checkbox" id="sender_{{ user.user_id }}" name="sender_id_strings[]" class="checkbox-sender" value="{{ user.user_id }}">
                            <label for="sender_{{ user.user_id }}" class="sub-form__label--monospace">{{ user.username }}</label>
                        </li>
                        {% else %}
                        No users.
                        {% endfor %}
                    </ul>
                    <input type="button" name="check_all" class="checkbox-sender" value="Check all users">
                    <input type="hidden" name="recipient_id" value="{{ my_user.user_id }}" readonly>
                    <label for="amount"> Amount </label>
                    <input type="number" name="amount" min="0" step="0.00000001" required>
                    <label for="title"> Title </label>
                    <input type="text" name="title" required>
                    <input type="submit" value="Create transaction">
                </form>
            </div>
            <div class="sub-sub-section">
                <h4 class="sub-sub-section__header"> Pending transactions </h4>
                <table>
                    <tbody>
                    <tr>
                        <th> Sender </th>
                        <th> Recipient </th>
                        <th> Title </th>
                        <th> Amount </th>
                        <th> Date </th>
                        <th> Actions </th>
                    </tr>
                    {% for transaction in pending_transactions %}
                    <tr>
                        <td> {{ users | concat(with=my_user) | filter(attribute="user_id", value=transaction.sender_id) | map(attribute="username") | first }} </td>
                        <td> {{ users | concat(with=my_user) | filter(attribute="user_id", value=transaction.recipient_id) | map(attribute="username") | first }} </td>
                        <td> {{ transaction.title }} </td>
                        <td> {{ transaction.amount }} </td>
                        <td> {{ transaction.created_at | date(format="%c") }} </td>
                        <td>
                            {% if transaction.sender_id == my_user.user_id %}
                            <form name="accept_transaction" class="mini-form">
                                <input type="hidden" name="transaction_id" value="{{ transaction.transaction_id }}" readonly>
                                <input type="submit" value="Accept">
                            </form>
                            <form name="reject_transaction" class="mini-form">
                                <input type="hidden" name="transaction_id" value="{{ transaction.transaction_id }}" readonly>
                                <input type="submit" value="Reject">
                            </form>
                            {% elif transaction.recipient_id == my_user.user_id %}
                            <form name="delete_transaction" class="mini-form">
                                <input type="hidden" name="transaction_id" value="{{ transaction.transaction_id }}" readonly>
                                <input type="submit" value="Delete">
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="6">
                            No pending transactions.
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="sub-sub-section">
                <h4 class="sub-sub-section__header"> Processed transactions </h4>
                <table>
                    <tbody>
                    <tr>
                        <th> Sender </th>
                        <th> Recipient </th>
                        <th> Title </th>
                        <th> Amount </th>
                        <th> Date </th>
                    </tr>
                    {% for transaction in processed_transactions %}
                    <tr class="sub-section__tr--{% if transaction.accepted %}green{% else %}red{% endif %}">
                        <td> {{ users | concat(with=my_user) | filter(attribute="user_id", value=transaction.sender_id) | map(attribute="username") | first }} </td>
                        <td> {{ users | concat(with=my_user) | filter(attribute="user_id", value=transaction.recipient_id) | map(attribute="username") | first }} </td>
                        <td> {{ transaction.title }} </td>
                        <td> {{ transaction.amount }} </td>
                        <td> {{ transaction.created_at | date(format="%c") }} </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">
                            No transactions.
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <p>
            No trips.
        </p>
        {% endfor %}
        </div>
    </div>
</main>
<script type="text/javascript" src="static/js/main.js"> </script>
{% endblock content %}
