{% extends "base.html" %}

{% block title %}
Balance
{% endblock title %}

{% block content %}
<header>
    <h1> Welcome to <em>Balance</em>! </h1>
    <nav class="main-section">
        <ul>
            <li> <a href="/login"> Login </a> </li>
            <li> <a href="/signup"> Signup </a> </li>
        </ul>
    </nav>
</header>
<main>
    <div class="main-section">
        <h2 class="main-section__header"> About </h2>
        <p>
            <em>Balance</em> is simple webapp for finance managing during trips (refunds / debts). Written in Rust btw.
        </p>
    </div>
</main>
{% endblock content %}
