{% extends "base.html" %}

{% block title %}
Login | Balance
{% endblock title %}

{% block content %}
<header>
    <h1> Login </h1>
</header>
<main>
    <div class="main-form-wrapper">
        <form method="post">
            <label for="username">Username</label>
            <input type="text" name="username" required>

            <label for="password">Password</label>
            <input type="password" name="password" required>

            <input type="submit" value="Login">
        </form>
        {% if feedback %}
        <p class="main-form-wrapper__feedback">
            {{ feedback }}
        </p>
        {% else %}
        {% endif %}
        <p>
            Go back to <a href="/">main page</a>. <br>
            Dont't have an account? <a href="/signup">Sign up!</a>
        </p>
    </div>
</main>
{% endblock content %}
