{% extends "base.html" %}

{% block title %}
Sign up | Balance
{% endblock title %}

{% block content %}
<header>
    <h1> Sign up </h1>
</header>
<main>
    <div class="main-form-wrapper">
        <form method="post">
            <label for="username">Username</label>
            <input type="text" name="username" required>

            <label for="password">Password</label>
            <input type="password" name="password" required>

            <label for="invite">Invite ID</label>
            <input type="text" name="invite_id">

            <label for="captcha">I am not a robot!</label>
            <input type="checkbox" name="captcha" required>

            <input type="submit" value="Sign up">
        </form>
        {% if feedback %}
        <p class="main-form-wrapper__feedback">
            {{ feedback }}
        </p>
        {% else %}
        {% endif %}
        <p>
            Go back to <a href="/">main page</a>. <br>
            Already have an account? <a href="/login">Login!</a>
        </p>
    </div>
</main>
{% endblock content %}
